/* font related style */

/* shared style */
.display-flex{
    display: flex;
}

.background-orange{
    background-color: rgb(246, 235, 218, 1);
}

.orange-text{
    color:rgba(255, 144, 43, 1);
}

.nav-section{
    max-width: 1531px;
    margin: 0 auto;

    /* Problelm 01 */
    /* margin-top: 70px;  margin 70 px dile uprer baground white hoi    */

}

body{
    overflow-x: hidden;
}

.p-btn{
    background-color: rgba(47, 33, 5, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 33px;
    font-size: 0.9rem;
    font-weight: 600;
    max-width: 170px;
    padding: 10px 32px;
    text-align: center;
    
    
    
}


/* nav related style */

.li-section{
    list-style: none;
}

.logo, .mid-part, .search-box{
    margin-top: 30px;
}

.a-section{
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}
.a-section-o{
    text-decoration: none;
}

.nav-section{
  justify-content: space-between;
  padding: 20px;
  position: relative;
  /* border: 1px solid red; */
  z-index: 10;
  
}

.ul-list{
    gap: 30px;
}

.search-section{
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 35px;
    font-size: 0.8rem;
    font-weight: 400;
    max-width: 222px;
    margin: 10px;
    text-align: start;
    
   
    outline: none;
    
}
.search-icons{
 /* text-align: ; */
 /* problem 02 */
 /* icon upore dite uthe thake  */
 margin-top: 8px;
 margin-left: 10px;

}

.box-search{
    background-color: white;
    border-radius: 35px;
    max-width: 222px;
    padding: 5px;
    /* border: 1px solid brown; */
    text-align: center;
    outline: none;

}

.chart-box {
    justify-content: center;
    align-items: center;
}

.search-box{
    gap: 26px;
}

.bg-img{
    position: absolute;
   top: -34px;
  left: 1202px;
   z-index: -1;
}




/* header section related style */


.header-container-coffe{
    background-color: rgba(47, 33, 5, 1);
    border-radius: 50%;
    max-width: 453px;
    max-height: 436px;
    position: relative;
    z-index: 13;
    top: -80px;
    right: -15px;
    
}


.coffe-img{
    
    position: relative;
    width: 100%;
    bottom: 20px;
    z-index: 20;
    left: 10px;
}

.coffe-bag-img{
    position: absolute;
    max-width: 474px;
    top:108px;
    width: 100%;
    z-index: 22;
    left: 10px;
}

.header-enjoy{
    justify-content: space-evenly;
    margin-top: 120px;
    margin-left: 135px;
    /* margin-right: px; */
    gap: 200px;
}

.header-title{
    font-size: 3rem;
    font-weight: 600;

}
.header-desc{
    font-size: 1.1rem;
    color: rgba(126, 125, 122, 1);
    font-weight: 400;
}


.transparent-btn{
    background-color: transparent;
    color: rgba(244, 174, 38, 1);
    border: none;
    border-radius: 33px;
    font-size: 0.7rem;
    font-weight: 700;
    max-width: 170px;
    padding: 10px 24px;
    
}

.button-icon{
    background-color: rgba(255, 144, 43, 1);
  
    border-radius: 50%;
    /* filter: grayscale(0) brightness(1); */
    color: white;
    margin-left: 5px;
   /* filter: brightness(0) invert(1); */
}
#btn-icon{
    
}

#cappuccino{
    background-color: rgba(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    border: 0.4rem solid rgb(236, 236, 224, 0.4); /* Transparent border */
    color: rgba(47, 33, 5, 1);
    border-radius: 42px;
    max-width: 283px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    
    position: absolute;
    z-index: 31;
    bottom: 263px;
    right: 220px;


}

#rating{
    background-color: rgba(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    border: 0.4rem solid rgb(236, 236, 224, 0.4); /* Transparent border */
    color: rgba(47, 33, 5, 1);
    border-radius: 42px;
    max-width: 90px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 10px;
    margin: 0px;

    position: absolute;
    top: 100px;
    right: -30px;
    z-index: 30;
   
    
   


}
#price{
    background-color: rgba(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    border: 0.4rem solid rgb(236, 236, 224, 0.4); /* Transparent border */
    color: rgba(47, 33, 5, 1);
    border-radius: 42px;
    max-width: 283px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    
    position: absolute;
    z-index: 30;
    top: 280px;

}

.corner-bg-img{
    position: absolute;
    left: 0px;
    top: 580px;
    /* z-index: -1; */
    position: absolute;
    z-index: 15;
    left: 170px;
    top: 600px;

}

/* popular more section style */


.new-bg{
    background-color: rgba(249, 217, 170, 1);
    max-width: 1268px;
    height: 367px;
    border: 1px solid brown;
    margin: 0 auto;
    border-radius: 64px;
    position: relative;
    z-index: 20;
    top: -210px;
}

.more-container{
    justify-content: center;
    gap: 38px;
}

.more{
    background-color: white;
    padding: 10px;
    position: relative;
    z-index: 30;
    top: 90px;
    border-radius: 12px;
    border:  0.4rem solid rgb(236, 236, 224, 0.5);

}

.more-title{
    font-size: 32px;
    font-weight: 600;
    position: relative;
    z-index: 17;
    left: 340px;
    top: 60px;
}


.more-rating{
    position: relative;
    background-color: white;
    max-width: 42px;
    font-size: 0.7rem;
    z-index: 35;
    top: 20px;
    left: 20px;
    right: 40px;
    text-align: center;
    border: none;
    border-radius: 50px;
    padding: 2px;

}

.more-coffe-img{
      position: relative;
      z-index: 33;
      border-radius: 20px;
      bottom: 30px;
      
}

.text-con-more{
    justify-content: space-between;
}

.coffe-name, .coffe-price
{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0px;
}

.more-btn{
    justify-content: space-between;
}

.cold-btn{
    margin-right: 140px;
    background-color: white;
    color:rgba(255, 210, 143, 1);
    border: 1px solid rgba(255, 210, 143, 1);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

.hot-btn{
    background-color: white;
    color: rgba(255, 144, 43, 1);
    border: 1px solid rgba(255, 144, 43, 1);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

.chart-round-icon{
    
    border-radius: 60%;
    padding: 10px;
    
    color: white;
    background: rgba(255, 144, 43, 1);
    text-align: center;
}

.orange-line{
    width: 74px;
    height: 2px;
   
    background-color: rgba(255, 144, 43, 1);
    border: 1px solid orange;
    position: relative;
    left: -710px;
    right: 100px;
    top: -17px;
    z-index: 18px;

}
















/* media tag */
@media screen and (max-width:576px) {
    .nav-section,
    .ul-list
    
    
    {
        flex-direction: column;
        text-align: center;
    }

    .search-box {
        flex-direction: column;
        justify-content: center;
        
        /* margin-right: 0px; */
    }

    .box-search{
        
        margin: 0 auto;
        
    }

    .search-section{
        text-align: center;
    }

    .bg-img{
        width: 100%;
        top: 70px;
        left: 0px;
        right: 0px;
    }
    
    
}